environments:
  default:
    values:
      - ../environments/base.yaml
      - ../environments/{{ requiredEnv "HELMFILE_ENV" }}.yaml

---

repositories:
  - name: nvcf
    url: {{ .Values.global.helm.sources.registry }}/{{ .Values.global.helm.sources.repository }}
    oci: true

helmDefaults:
  createNamespace: true
  devel: true
  timeout: 900
  wait: true
  waitForJobs: true
  diffArgs:
    - "--dry-run=server"

templates:
  dependency: &dependency
    chart: nvcf/helm-nvcf-{{`{{ .Release.Name }}`}}
    values:
      - ../global.yaml.gotmpl
      - ../secrets/{{ requiredEnv "HELMFILE_ENV" }}-secrets.yaml
    wait: true
    waitForJobs: true
    labels:
      release-group: dependencies

releases:

  # --- NVCF NCP Dependencies ---
  - name: nats
    version: 0.7.1
    condition: nats.enabled # From defaults.yaml or env overrides
    namespace: nats-system
    <<: *dependency # Inherits base values from the dependency template
    values:
      - ../global.yaml.gotmpl
      - ../secrets/{{ requiredEnv "HELMFILE_ENV" }}-secrets.yaml
      - nats:
          config:
            cluster:
              enabled: false
              replicas: 1

  - name: cert-manager
    version: 0.1.0
    condition: certManager.enabled
    namespace: cert-manager
    <<: *dependency

  - name: openbao-server # this name MUST not change
    version: 0.30.23
    condition: openbao.enabled # From defaults.yaml or env overrides
    namespace: vault-system
    <<: *dependency # Inherits base values from the dependency template
    values:
      - ../global.yaml.gotmpl
      - ../secrets/{{ requiredEnv "HELMFILE_ENV" }}-secrets.yaml
      - openbao:
          global:
            openshift: true
          injector:
            enabled: false
          server:
            ha:
              replicas: 3
    needs:
      - nats-system/nats

  - name: cassandra
    version: 0.15.5
    condition: cassandra.enabled # From defaults.yaml or env overrides
    namespace: cassandra-system
    <<: *dependency # Inherits base values from the dependency template
    values:
      - ../global.yaml.gotmpl
      - ../secrets/{{ requiredEnv "HELMFILE_ENV" }}-secrets.yaml
      - cassandra:
          dynamicSeedDiscovery:
            enabled: false
          global:
            compatibility:
              openshift:
                adaptSecurityContext: force
          podSecurityContext:
            enabled: false
          containerSecurityContext:
            enabled: false
