# OpenShift NVCF secrets template
# Copy this file to ocp-nvcf-secrets.yaml and replace placeholder values
# with your actual credentials.
#
# To generate base64 credentials for quay.io:
#   printf '%s' 'username:password' | base64 | tr -d '\n'

openbao:
  migrations:
    env:
      - name: DEFAULT_CASSANDRA_PASSWORD
        value: "REPLACE_WITH_CASSANDRA_PASSWORD"
      - name: NVCF_API_SIDECARS_IMAGE_PULL_SECRET
        value: REPLACE_WITH_BASE64_DOCKER_CREDENTIAL
      - name: ADMIN_CLIENT_ID
        value: ncp

api:
  accountBootstrap:
    registryCredentials:
      - registryHostname: quay.io
        secret:
          name: quay-containers
          value: REPLACE_WITH_BASE64_DOCKER_CREDENTIAL
        artifactTypes: ["CONTAINER"]
        tags: []
        description: "Quay.io Container registry"
      - registryHostname: quay.io
        secret:
          name: quay-helmcharts
          value: REPLACE_WITH_BASE64_DOCKER_CREDENTIAL
        artifactTypes: ["HELM"]
        tags: []
        description: "Quay.io Helm registry"
